@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter/400.css"; /* Weight 400 */
@import "@fontsource/inter/700.css"; /* Weight 700 */
@import "@fontsource/lexend-deca/400.css"; /* Weight 400 */

body {
  background: hsl(233, 47%, 7%);
}
.attribution {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(0, 0%, 100%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
